[project]
	description = Yet Another String Library for C
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Johannes Löthberg (kyrias)
[access "refs/for/refs/*"]
	read = group user/Johannes Löthberg (kyrias)
	push = group user/Johannes Löthberg (kyrias)
	label-Code-Review = -2..+2 group user/Johannes Löthberg (kyrias)
	label-Verified = -1..+1 group user/Johannes Löthberg (kyrias)
	rebase = group user/Johannes Löthberg (kyrias)
	removeReviewer = group user/Johannes Löthberg (kyrias)
	submit = group user/Johannes Löthberg (kyrias)
[access "refs/heads/*"]
	read = group user/Johannes Löthberg (kyrias)
	create = group user/Johannes Löthberg (kyrias)
	push = +force group user/Johannes Löthberg (kyrias)
	pushMerge = group user/Johannes Löthberg (kyrias)
[access "refs/tags/*"]
	push = +force group user/Johannes Löthberg (kyrias)
	pushTag = group user/Johannes Löthberg (kyrias)
	pushSignedTag = group user/Johannes Löthberg (kyrias)
